@import 'variables';

html {
  background-color: #fafafa;
  color: $black87;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border: 0;
    background-color: #000;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.error-box {
  background: rgba($error, 0.1);
  padding: 1rem;
  color: $error;
  margin: 1rem 0;
}
