@import 'variables';

.header {
  align-items: center;
  background-color: #0c0c0c;
  box-shadow: 0 4px 5px 0 rgba($sleeping-panther, 0.14),
    0 1px 10px 0 rgba($sleeping-panther, 0.12),
    0 2px 4px -1px rgba($sleeping-panther, 0.4);
  display: flex;
  height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1.5rem;
  &__title {
    color: $snow;
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    line-height: 2rem;
    font-weight: 500;
  }
}

.logo {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;

  &__color {
    fill: $metal;
  }

  &__color,
  &__effects {
    max-width: 100%;
    max-height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  &__effects {
    opacity: 0.8;
  }
}

.header__spacer {
  flex-grow: 1;
}
